/* ================= GLOBAL RESET ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ================= FONTES E VARIÁVEIS ================= */
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600;700&display=swap");

:root {
  --clr-primary: #29221d;
  --clr-primar-light: #473b33;
  --clr-secondary: #d2cfcd;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-pumpkin: #fe6c00;
  --clr-silver: #a8a5a6;
  --clr-silver-v1: #bdbabb;
  --clr-scarlet: #fe1e00;
  --clr-scarlet-v1: rgba(254, 30, 0, 0.79);
  --clr-green: #00fe93;
  --clr-yellow: #fec80a;
  --clr-jet: #302924;
  --clr-peach: #ffc397;
  --font-family-bai: "Bai Jamjuree", sans-serif;
  --transition-default: all 300ms ease-in-out;
}

/* ================= BODY ================= */
body {
  font-family: var(--font-family-bai);
  background-color: var(--clr-black);
  color: var(--clr-white);
}

/* ================= LINKS, LISTAS, BOTÕES ================= */
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #131212;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* ================= ESTILOS COMUNS ================= */
.img-fit-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-white {
  color: var(--clr-white);
}
.text-silver-v1 {
  color: var(--clr-silver-v1);
}
.text-scarlet {
  color: var(--clr-scarlet);
}
.text-green {
  color: var(--clr-green);
}
.bg-jet {
  background: var(--clr-jet);
}
.text-sm {
  font-size: 14px;
}
.lg-value {
  font-size: 24px;
  font-weight: 600;
}

.grid-common {
  background-color: var(--clr-primary);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 24px;
  color: var(--clr-white);
  padding: 24px;
}
.grid-c-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.grid-c-title-text {
  font-weight: 400;
  color: var(--clr-silver);
}
.grid-c-title-icon img {
  width: 24px;
}

@media screen and (max-width: 1400px) {
  .grid-common {
    padding: 16px;
  }
  body {
    font-size: 14px !important;
  }
}

/* ================= LAYOUT LOGIN ================= */
.login-container {
  font-family: 'Times New Roman', Times, serif;
  text-shadow: #000 1px 1px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../public/assets/login.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
}

.login-container::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.login-container > * {
  position: relative;
  z-index: 1;
}

/* ================= DASHBOARD LAYOUT ================= */
.app {
  display: flex;
  min-height: 100vh;
}
